html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Helvetica', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.a3 > div {
    flex: 0 65%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.a3 header {
    flex: 0 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.a3 h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    flex: 0 auto;
    margin: 0 auto 0 0;
}

.a3 nav {
    flex: 0 auto;
    margin-left: auto;
    height: 30px;
}

.a3 a {
    display: inline-block;
    height: 30px;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

.a3 a:hover {
    color: blue;
}

.a3 main {
    flex: 0 100%;
}

.a3 img {
    width: 100%;
}


/* .a3 main {
    width: 65%;
    height: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.a3 header {
    flex: 0 100%;
    margin-top: 20px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;

}

.a3 main {
    flex: 0 100%;
    height: 40%;
}

.a3 img {
    height: auto;
    /* margin: 0 auto; */
}

.a3 p {
    flex: 0 100%;
} */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


@media only screen and (min-width: 35em) { }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) { }

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
